<h1> <%= @list.name %> </h1>
  
<ul class="actions_panel">
  <li><%= link_to "Add Movies", movies_path%></li>
  <li><%= link_to "Edit List",  edit_list_path(@list)%></li>
  <li><%= link_to "Delete List", @list, method: :delete, data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back to Lists", current_user%></li>
</ul>

<p>Stuff to put here</p>
<ul>
  <li>Add Movies to List (should take you to movies)</li>
  <li>Update Movie details</li>
</ul>

<% @list.movies.each do |movie| %>
  <table>
    <tr>
      <td><%= link_to movie.name, movie %></td>
      <td><%= link_to "Remove from List", movie_list_url(movie_id: movie.id, list_id: @list.id), method: :delete, data: { confirm: "Are you sure?"} %></td>
    </tr>
  </table>
<% end %>
