<h1> <%= @list.name %> </h1>
  
<ul class="action-panel">
  <li><%= link_to "Add Movies", movies_path, class: "btn-sm btn-success" %></li>
  <li><%= link_to "Edit List",  edit_list_path(@list), class: "btn-sm btn-primary"%></li>
  <li><%= link_to "Delete List", @list, class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>

<p>Stuff to put here</p>
<ul>
  <li>Add Movies to List (should take you to movies)</li>
  <li>Update Movie details</li>
</ul>

<%= render 'shared/movies' %>
