<h1> <%= @movie.name %></h1>
<ul class="action-panel">
  <li><%= link_to "Add Movie to List", new_movie_list_path(movie_id: @movie.id), class: "btn-sm btn-success" %></li>
  <li><%= link_to "Edit Movie",  edit_movie_path(@movie), class: "btn-sm btn-primary" %></li>
  <li><%= link_to "Delete Movie", @movie, method: :delete, class: "btn-sm btn-danger", data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back to Movies", movies_path, class: "btn-sm btn-secondary" %></li>
</ul>

<section class="movie-card-large">  
  <div class="movie-data">
    <% if @movie.poster.attached? %>
      <%= image_tag @movie.poster.variant(resize: "220x290") %>
    <% else %>
      <img src="https://via.placeholder.com/240x360/000000/FFFFFF?text=movie",
       alt="Blank movie poster placeholder"/>
    <% end %>
  </div>

  <div class="movie-data">
    <p>Stuff to put here</p>
    <ul>
      <li>Movie Poster</li>
      <li>Movie info: length, rating </li>
      <li>Movie availability(plex/netflix/hbo/etc.)</li>
    </ul>
  </div>
</section>

