<!DOCTYPE html>
<html>
  <head>
    <title>Our Movie List</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body class="container">
      <header>
        <%= render 'layouts/header' %>
      </header>

      <main>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>

        <%= yield %>
      </main>
      
      <aside class="sidebar-nav">
        <%= render 'layouts/left_sidebar' %>
      </aside>
      
      <aside class="sidebar-ads">
        <%= render 'layouts/right_sidebar' %>
      </aside>

      <footer class="hg-footer">
        <%= render 'layouts/footer' %>
      <footer class="hg-footer">
  </body>
</html>
