<!DOCTYPE html>
<html>
  <head>
    <title>Our Movie List</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body class="container">
    <header>
      <%= render 'layouts/header' %>
    </header>

    <main>
      <div class="alerts-bar">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      </div>

      <%= yield %>
    </main>
    
    <% if logged_in? %>
      <aside class="sidebar-nav">
        <%= render 'layouts/sidebar_nav' %>
      </aside>
    
      <aside class="sidebar-ads">
        <%= render 'layouts/sidebar_ads' %>
      </aside>
    <% end %>

    <footer class="hg-footer footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
