<!DOCTYPE html>
<html>
  <head>
    <title>Our Movie List</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container">
      <header> <%= render 'layouts/header' %> </header>
      
      <aside> <%= render 'layouts/sidebar' %> </aside>
      
      <main>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>

        <%= yield %>
      </main>
      
      <footer> <%= render 'layouts/footer' %> </footer>
    </div>     
  </body>
</html>
